<div class="row" *ngIf="isLoading">
  <div class="col-md-2 offset-md-5"><i fa class="fa fa-spinner fa-5x fa-pulse" aria-hidden="true"></i>
  </div>
</div>

<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li>
          <h1>Hours Worked</h1>
        </li>
        <li>Fiscal Year: {{hours?.FiscalYear}}</li>
        <li>{{teamMember.FirstName}} {{teamMember.LastName}}</li>
        <li>Total Work Hours: {{totalWorkHours}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Charge Time</h2>
    </div>
  </div>
  <div class="row" *ngIf="categories">
    <div class="col-md-6">
      <app-charge-time [categories]="categories[3]"></app-charge-time>
    </div>
    <div class="col-md-6">
      <app-charge-time [categories]="categories[0]"></app-charge-time>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Non-Charge Time</h2>
    </div>
  </div>
  <div class="row" *ngIf="categories">
    <div class="col-md-12">
      <app-non-charge-time></app-non-charge-time>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Please note: Based upon your role, natural strengths and passion on your journey to become famous, the suggested guidelines
      may need to be adjusted. Please discuss this at your next one to one meeting with your coach.
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-9">
      <button class="btn btn-secondary">Cancel</button>
      <button class="btn btn-success">Save</button>
    </div>
  </div>
</div>