<div class="row" *ngIf="isLoading">
  <div class="col-md-2 offset-md-5">
    <i fa class="fa fa-spinner fa-5x fa-pulse" aria-hidden="true"></i>
  </div>
</div>

<div *ngIf="!isLoading && hours?.TeamMemberId > 0">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li>
          <h1>Hours Worked</h1>
        </li>
        <li>Fiscal Year: {{hours?.EstimatedFiscalYear}}</li>
        <li>{{teamMember.FirstName}} {{teamMember.LastName}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn" [ngClass]="{'btn-primary': displayNonCharge}" (click)="nonChargeClicked(1)">Non Charge</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn" [ngClass]="{'btn-primary': displayIndustryTeam}" (click)="industryTeamClicked(2)">Industry Team</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn" [ngClass]="{'btn-primary': displayServiceLine}" (click)="serviceLineClick(3)">Service Line</button>
    </div>
  </div>
  <app-non-charge-time [hidden]="!displayNonCharge" *ngIf="categories" [category]="categories?.Categories[1]" [data]="hoursToEdit?.NonChargeList"
    (isDirty)="makeDirty()" (totalNewHours)="setNonChargeTotal($event)"></app-non-charge-time>
  <app-charge-time [hidden]="!displayIndustryTeam" *ngIf="categories" [category]="categories?.Categories[0]" [data]="hoursToEdit?.IndustryTeams"
    (isDirty)="makeDirty()" (totalNewHours)="setIndustryTeamTotal($event)" [industryTeams]="teamMember?.IndustryTeams"></app-charge-time>
  <app-charge-time [hidden]="!displayServiceLine" *ngIf="categories" [category]="categories?.Categories[2]" [data]="hoursToEdit?.ServiceLines"
    (isDirty)="makeDirty()" (totalNewHours)="setServiceLineTotal($event)"></app-charge-time>
  <div class="row">
    <div class="col-md-12">
      Please note: Based upon your role, natural strengths and passion on your journey to become famous, the suggested guidelines
      may need to be adjusted. Please discuss this at your next one to one meeting with your coach.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-8">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">Non Charge Total Hours:</th>
            <td class="text-right">{{nonChargeTotalHours}}</td>
          </tr>
          <tr>
            <th scope="row">Service Line Total Hours:</th>
            <td class="text-right">{{serviceLineTotalHours}}</td>
          </tr>
          <tr>
            <th scope="row">Total Work Hours:</th>
            <td class="text-right">{{totalWorkHours}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-8">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th scope="row">Industry Team Total Hours:</th>
            <td class="text-right">{{industryTeamHours}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="margin-bottom: 25px">
    <div class="col-md-2 offset-md-10">
      <button class="btn btn-success btn-block" (click)="onSave()">Save</button>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && hours?.TeamMemberId === 0">
  <div class="row">
    <div class="alert alert-danger" role="alert">
      <strong>Uh Oh!</strong> There was a problem retrieving your user data, please try again. If issue persists please contact Help
      Desk.
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Values have been changed</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Some values have been changed. Do you want to save them?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="confirmModalSave()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ignoreChanges()">Ignore changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal for survey questions boilerplate -->
<div [config]="{ backdrop: 'static' }" bsModal #surveyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #surveyForm="ngForm" (ngSubmit)="saveSurvey(surveyForm.value)">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label">I am spending sufficient time in my chosen industry(s) to develop expertise:</label>
            <div class="form-check">
              <label class="form-check-label" for="yes">
                <input class="form-check-input" name="IsExpertise" id="yes" type="radio" value="true" ngModel required> Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="no">
                <input class="form-check-input" name="IsExpertise" id="no" type="radio" value="false" ngModel required> No
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">The industries in which I spend the most time are (ctrl + left click to select more than one):</label>
            <select multiple class="form-control" name="IndustryTeamsTime" ngModel required>
              <option *ngFor="let industryTeam of surveyLookups?.IndustryTeams" [ngValue]="industryTeam.IndustryTeamId">{{industryTeam.TeamName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">I would like to learn more about the following industries (ctrl + left click to select more than one):</label>
            <select multiple class="form-control" name="IndustryTeamLearn" ngModel required>
              <option *ngFor="let industryTeam of surveyLookups?.IndustryTeams" [ngValue]="industryTeam.IndustryTeamId">{{industryTeam.TeamName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">The service line I most closely align with:</label>
            <select class="form-control" name="ServiceLineAlignedId" ngModel required>
              <option *ngFor="let serviceLine of surveyLookups?.ServiceLines" [ngValue]="serviceLine.ServiceLineId">{{serviceLine.ServiceLine}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">I would like to continue spending time in, or spend more time developing expertise within the following service
              line sub groups (up to 2 choices):</label>
            <div class="row">
              <div class="col-md-3" *ngFor="let serviceLine of surveyLookups?.ServiceLines">
                <app-survey-sub-group [serviceLine]="serviceLine" [subgroupsList]="surveyLookups?.SubGroups"></app-survey-sub-group>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">I am interested in learning about and/or participating in the following advisory engagements (ctrl + left click to select more than one):</label>
            <select multiple class="form-control" name="Advisories" ngModel required>
              <option *ngFor="let advisory of surveyLookups?.Advisories" [ngValue]="advisory.AdvisoryId">{{advisory.Advisory}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="surveyForm.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
