<div class="row">
  <div class="col-md-12 text-center">
    <h3>{{categoryName}}</h3>
  </div>
</div>

<div class="row cyan-background">
  <div class="col-md-4">
    Category Code
  </div>
  <div class="col-md-1 text-right">
    Rolling 12 months
  </div>
  <div class="col-md-1 text-right">
    %
  </div>
  <div class="col-md-1 text-right">
    12 Month Ending June 30
  </div>
  <div class="col-md-1 text-right">
    %
  </div>
  <div class="col-md-2 text-right">
    Suggested Range
  </div>
  <div class="col-md-1 text-right">
    Fiscal Year Plan<br>
    Oct 1 - Sept 30
  </div>
  <div class="col-md-1 text-right">
    %
  </div>
</div>
<div *ngFor="let item of data">
  <app-non-charge-item [data]="item" [currentYearHours]="currentYearTotalHours" [nextYearHours]="nextYearTotalHours" [categoryNames]="category?.Items"></app-non-charge-item>
</div>
<div class="row" style="border-top: 1px solid">
  <div class="col-md-4 font-weight-bold">
    Grand Total
  </div>
  <div class="col-md-1 text-right font-weight-bold">
    rolling
  </div>
  <div class="col-md-1 text-right font-weight-bold">
   rolling
  </div>
  <div class="col-md-1 text-right font-weight-bold">
    {{currentYearTotalHours}}
  </div>
  <div class="col-md-1 text-right font-weight-bold">
    {{currentYearPercent | percent: '1.1-1'}}
  </div>
  <div class="col-md-1 offset-md-2 text-right font-weight-bold">
    {{nextYearTotalHours}}
  </div>
  <div class="col-md-1 text-right font-weight-bold">
    {{nextYearPercent | percent: '1.1-1'}}
  </div>
</div>
