<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-primary">
        <ul class="list-unstyled">
          <li style="color: white;">Coach: {{meeting.CoachName}}</li>
          <li style="color: white;">Created Date: {{meeting.DisplayDateCreated}}</li>
          <li style="color: white;">Modified Date: {{meeting.DisplayDateModified}}</li>
        </ul>
      </div>
      <div class="card-block">
        <p class="card-text">
        </p>
        </div>
      </div>
    </div>
  </div>
