<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-primary">
        <ul class="list-unstyled">
          <li style="color: white;">Coach: {{coachName}}</li>
          <li style="color: white;">Created Date: {{meeting.DisplayDateCreated}}</li>
          <li style="color: white;">Modified Date: {{meeting.DisplayDateModified}}</li>
        </ul>
      </div>
      <div class="card-block">
        <p class="card-text">
          <span class="faux-link" *ngIf="index === 0" (click)="onEdit(meeting)">Edit Meeting Details</span>
          <span class="faux-link" *ngIf="index != 0" (click)="onViewOldMeeting(meeting)">Show Meeting Details</span>
        </p>
        </div>
      </div>
    </div>
  </div>
