<div class="row">
  <div class="col-md-5">
    <h1>Industry Team Goals</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Goal list: (Click goal name to edit)</p>
  </div>
  <div class="col-md-8 text-right">
    <span class="faux-link" (click)="onAdd()">Add Goal</span>
  </div>
</div>
<div class="row" *ngIf="isLoading">
  <div class="col-md-2 offset-md-5"><i fa class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
  </div>
</div>
<div *ngFor="let goal of industryGoalList">
<app-goal-list [goal]="goal" (goalToEdit)="onEdit($event)"></app-goal-list>
</div>
<app-add-industry-goal [industryGoal]="newGoal" *ngIf="newGoal" (modalClosed)="clearNewGoal()" (addSuccess)="refreshListAdd()"></app-add-industry-goal>
<app-edit-industry-goal [industryGoal]="goalToEdit" *ngIf="goalToEdit" (modalClosed)="clearGoalToEdit()" (updateSuccess)="refreshListUpdate()"></app-edit-industry-goal>