<form novalidate [formGroup]="personalGoalForm">
  <div class="form-group">
    <label for="Name">Goal Name:</label>
    <input id="Name" type="text" class="form-control" formControlName="Name">
  </div>
  <div class="form-group">
    <label for="GoalDescription">Goal Description:</label>
    <input id="Description" type="text" class="form-control" formControlName="GoalDescription">
  </div>
  <app-actions-list
    [goalId]="personalGoal.GoalId"
    [parentGoalForm]="personalGoalForm"
    [actions]="personalGoal.Actions">
  </app-actions-list>
</form>
