<div class="row">
  <div class="col-md-5">
    <h1>Economic Contribution Goal</h1>
  </div>
</div>
<div class="row" *ngIf="isLoading">
  <div class="col-md-2 offset-md-5"><i fa class="fa fa-spinner fa-5x fa-pulse" aria-hidden="true"></i>
  </div>
</div>
<div *ngIf="!isLoading">
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Goal Year: {{economicGoals?.CurrentEconomicGoal.Year}}</h2>
  </div>
</div>
<app-edit-economic-goal [economicGoals]="economicGoals"></app-edit-economic-goal>
</div>

