<div class="row">
  <div class="col-md-12">
    <a (click)="printView()" href="#">Click to print this page</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Goal Notes for: {{teamMember?.FirstName}} {{teamMember?.LastName}}</h2>
  </div>
</div>
<div *ngIf="printGoal?.EconomicGoals">
  <div class="row">
    <div class="col-md-12">
      <h2> Economic Contribution Goals for year: {{printGoal?.EconomicGoals?.CurrentEconomicGoal?.Year}}</h2>
    </div>
  </div>
  <app-shareholder-details [title]="'Personal'" [currentDetail]="printGoal?.EconomicGoals?.CurrentEconomicGoal?.Details[0]"
    [previousDetail]="printGoal?.EconomicGoals?.PreviousEconomicGoal?.Details[0]"></app-shareholder-details>
  <app-shareholder-details [title]="'Practice Unit'" [currentDetail]="printGoal?.EconomicGoals?.CurrentEconomicGoal?.Details[1]"
    [previousDetail]="printGoal?.EconomicGoals?.PreviousEconomicGoal?.Details[1]"></app-shareholder-details>
  <app-shareholder-details [title]="'Industry Team'" [currentDetail]="printGoal?.EconomicGoals?.CurrentEconomicGoal?.Details[2]"
    [previousDetail]="printGoal?.EconomicGoals?.PreviousEconomicGoal?.Details[2]"></app-shareholder-details>
</div>
  <p class="page-break-after"></p>
<div *ngIf="printGoal?.CompentencyGoals?.length > 0" class="page-break-after">
  <div class="row" class="goal-subSection">
    <h3>Personal Goals (lowest to highest % complete)</h3>
  </div>
  <div style="border-bottom: 1px solid" *ngFor="let personalGoal of printGoal?.CompentencyGoals">
    <app-personal-goals [personalGoal]="personalGoal"></app-personal-goals>
  </div>
</div>
<div *ngIf="printGoal?.WigGoals?.length > 0" class="page-break-after">
  <div class="row">
    <div class="col-md-12">
      <h3>WIG Goals</h3>
    </div>
  </div>
  <div style="border-bottom: 1px solid" *ngFor="let wigGoal of printGoal?.WigGoals">
    <app-wig-goal [wigGoal]="wigGoal"></app-wig-goal>
  </div>
</div>
<div *ngIf="printGoal?.IndustryGoals?.length > 0" class="page-break-after">
  <div class="row">
    <div class="col-md-12">
      <h3>Industry Team Goals</h3>
    </div>
  </div>
  <div style="border-bottom: 1px solid" *ngFor="let industryGoal of printGoal?.IndustryGoals">
    <app-industry-goals [industryGoal]="industryGoal"></app-industry-goals>
  </div>
</div>
