<div class="row">
  <div class="col-md-12">
    <h3>{{categoryName}}</h3>
  </div>
</div>
 <div *ngFor="let item of data">
    <app-charge-time-item [data]="item" [PrevTotalHours]="previousTotalHours" [CurrentTotalHours]="newTotalHours" [categoryNames]="category?.Items"></app-charge-time-item>
</div>
<div class="row" style="border-top: 1px solid">
  <div class="col-md-4">
    Grand Total
  </div>
  <div class="col-md-2">
    {{previousTotalHours}}
  </div>
  <div class="col-md-2">
    {{previousTotalPercent | percent: '1.1-1'}}
  </div>
  <div class="col-md-2">
    {{newTotalHours}}
  </div>
  <div class="col-md-2">
    {{newTotalPercent | percent: '1.1-1'}}
  </div>
</div>
