<div bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title pull-left">Edit Goal</h2>
        <button type="button" class="close pull-right" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate [formGroup]="editWigGoalForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group col-md-4">
            <label for="Name">Goal Name:</label>
            <input id="Name" type="text" class="form-control" formControlName="Name">
            <div *ngIf="editWigGoalForm.get('Name').hasError('required') && editWigGoalForm.get('Name').touched" class="alert alert-danger">A name is required</div>
          </div>
          <div class="form-group col-md-6">
            <label for="GoalDescription">Goal Description:</label>
            <textarea class="form-control" formControlName="GoalDescription"></textarea>
            <div *ngIf="editWigGoalForm.get('GoalDescription').hasError('required') && editWigGoalForm.get('GoalDescription').touched" class="alert alert-danger">A goal description is required</div>
          </div>
          <div class="form-group col-md-6">
            <label for="GoalWIGId">Select WIG for current goal:</label>
            <select class="form-control" name="GoalWIGId" formControlName="GoalWIGId">
              <option style="display: none" hidden></option>
              <option *ngFor="let wig of WIGList;" [value]="wig.GoalWIGId" [selected]="wig.GoalWIGId === wigGoal.GoalWIGId">{{wig.WIGTitle}}</option>
            </select>
            <div *ngIf="editWigGoalForm.get('GoalWIGId').hasError('required') && editWigGoalForm.get('GoalWIGId').touched" class="alert alert-danger">A WIG is required</div>
          </div>
          <div class="form-group col-md-2">
            <label for="Weight">Weight %:</label>
            <select class="form-control" name="Weight" formControlName="Weight">
              <option style="display: none" hidden></option>
              <option *ngFor="let weight of weightList;" [value]="weight" [selected]="weight === wigGoal.Weight">{{weight}}</option>
            </select>
          </div>
          <div class="goal-subSection">
            <app-actions-list [goalId]="wigGoal.GoalId" [parentGoalForm]="editWigGoalForm" [Actions]="wigGoal.Actions">
            </app-actions-list>
          </div>
          <div class="goal-subSection">
            <app-measurements-list [goalId]="wigGoal.GoalId" [parentGoalForm]="editWigGoalForm" [Measurements]="wigGoal.Measurements"></app-measurements-list>
          </div>
          <div class="goal-subSection">
            <app-support-list [goalId]="wigGoal.GoalId" [parentGoalForm]="editWigGoalForm" [Supports]="wigGoal.Supports"></app-support-list>
          </div>
          <div class="goal-subSection">
            <app-notes-list [goalId]="wigGoal.GoalId" [parentGoalForm]="editWigGoalForm" [Notes]="wigGoal.Notes"></app-notes-list>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
          <button class="btn btn-success" type="submit" [disabled]="!editWigGoalForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>