<div class="row row-striped">
    <div class="col-md-4">
        {{itemName}}
    </div>
    <div class="col-md-2 text-right">
        {{data.ActualHours}}
    </div>
     <div class="col-md-1 text-right">
        {{currentPercentage | percent: '1.1-1'}}
    </div>
     <div class="col-md-2 text-right">
         {{data.SuggestedHours}}
    </div>
     <div class="col-md-2">
           <input type="number" style="text-align: right" class="form-control" [(ngModel)]="data.EstimatedHours" (keyup)="onUpdateHours()" (change)="setEmptyValueToZero()"/>
    </div>
     <div class="col-md-1 text-right">
        {{nextYearPercentage | percent: '1.1-1'}}
    </div>
</div>
