<app-shteam-member-list [teamMemberList]="teamMemberList" (selectedTeamMember)="getData($event)"></app-shteam-member-list>
<div class="row" *ngIf="isLoading">
  <div class="col-md-2 offset-md-5"><i fa class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
  </div>
</div>
<div *ngIf="!isLoading">
<app-shareholder-print-view *ngIf="printGoal" [printGoal]="printGoal" [teamMember]="teamMember"></app-shareholder-print-view>
  <div *ngIf="hoursData" class="page-break-before">
    <app-hours  [hoursData]="hoursData"></app-hours>
  </div>
</div>
