<div class="row">
  <div class="col-md-5">
    <h1>Shareholder Meetings</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Meetings list:</p>
  </div>
  <div class="col-md-8 text-right">
    <span class="faux-link" (click)="onAdd()">Add Meeting</span>
  </div>
</div>
<div class="row" *ngIf="isLoading">
  <div class="col-md-2 offset-md-5"><i fa class="fa fa-spinner fa-5x fa-pulse" aria-hidden="true"></i>
  </div>
</div>
<div *ngFor="let meeting of meetingList; let i = index">
  <app-meeting-list [meeting]="meeting" [index]="i" (meetingToEdit)="onEdit($event)" (meetingToView)="onRead($event)"></app-meeting-list>
</div>
<app-edit-shareholder-meeting *ngIf="meetingToEdit" [meeting]="meetingToEdit" (modalClosed)="clearMeetingToEdit()" (updateSuccess)="refreshListOnEdit()"></app-edit-shareholder-meeting>
<app-add-shareholder-meeting *ngIf="newMeeting" [previousMeeting]="meetingList[0]" [meeting]="newMeeting" (modalClosed)="clearNewMeeting()" (addSuccess)="refreshListOnAdd()"></app-add-shareholder-meeting>
<app-read-only-shareholder-meeting *ngIf="readMeeting" [meeting]="readMeeting" (modalClosed)="clearReadMeeting()"></app-read-only-shareholder-meeting>