<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="currentTotalHours > 0">
          <h2 class="text-center">Fiscal Year To Date</h2>
          <ngx-charts-pie-chart
          [view]="view"
          [results]="rollingPieData"
          [scheme]="colorScheme"
          [legend]="true"
          [labels]="true">
          </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="newTotalHours > 0">
          <h2 class="text-center">Planned Hours</h2>
          <ngx-charts-pie-chart
          [view]="view"
          [results]="estimatedPieData"
          [scheme]="colorScheme"
          [legend]="true"
          [labels]="true">
          </ngx-charts-pie-chart>
          <span style="font-size: 12px">Chart will not update until new changes are saved*</span>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{categoryName}}</h3>
    </div>
  </div>
  <div class="row" *ngIf="industryTeams">
    <div class="col-md-5 text-right">
      <h2>{{industryTeams[0].TeamName}}</h2>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5 text-left" *ngIf="industryTeams[1]">
      <h2>{{industryTeams[1].TeamName}}</h2>
    </div>
  </div>
  <div class="row cyan-background">
    <div class="col-md-3">
      Category Code
    </div>
    <div class="col-md-2 text-right">
      Fiscal YTD
    </div>
    <div class="col-md-1 text-right">
      %
    </div>
    <div class="col-md-2 text-right">
      12 Month Ending April 30
    </div>
    <div class="col-md-1 text-right">
      %
    </div>
    <div class="col-md-2 text-right">
      Fiscal Year Plan<br>
      Oct 1 - Sept 30
    </div>
    <div class="col-md-1 text-right">
      %
    </div>
  </div>
  <div *ngFor="let item of data" class="striped-row">
    <app-charge-time-item [data]="item" [PrevTotalHours]="previousTotalHours" [NewTotalHours]="newTotalHours" [CurrentTotalHours]="currentTotalHours" [categoryNames]="category?.Items"
      (hours)="onUpdateHours()"></app-charge-time-item>
  </div>
  <div class="row schenck-blue-font" style="border-top: 1px solid">
    <div class="col-md-3">
      Grand Total
    </div>
    <div class="col-md-2 text-right">
      {{currentTotalHours}}
    </div>
    <div class="col-md-1 text-right">
      {{currentTotalPercent | percent: '1.1-1'}}
    </div>
    <div class="col-md-2 text-right">
      {{previousTotalHours}}
    </div>
    <div class="col-md-1 text-right">
      {{previousTotalPercent | percent: '1.1-1'}}
    </div>
    <div class="col-md-2 text-right" style ="padding-right: 2.5rem">
      {{newTotalHours}}
    </div>
    <div class="col-md-1 text-right">
      {{newTotalPercent | percent: '1.1-1'}}
    </div>
  </div>
</div>
