<div class="col-md-12">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{categoryName}}</h3>
    </div>
  </div>
  <div class="row" *ngIf="industryTeams">
    <div class="col-md-5 text-right">
      <h2>{{industryTeams[0].TeamName}}</h2>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5 text-left">
      <h2>{{industryTeams[1].TeamName}}</h2>
    </div>
  </div>
  <div class="row cyan-background">
    <div class="col-md-3">
      Category Code
    </div>
    <div class="col-md-2 text-right">
      12 Month Rolling
    </div>
    <div class="col-md-1 text-right">
      %
    </div>
    <div class="col-md-2 text-right">
      12 Month Ending June 30
    </div>
    <div class="col-md-1 text-right">
      %
    </div>
    <div class="col-md-2 text-right">
      Fiscal Year Plan<br>
      Oct 1 - Sept 30
    </div>
    <div class="col-md-1 text-right">
      %
    </div>
  </div>
  <div *ngFor="let item of data" class="striped-row">
    <app-charge-time-item [data]="item" [PrevTotalHours]="previousTotalHours" [CurrentTotalHours]="newTotalHours" [categoryNames]="category?.Items"
      (hours)="onUpdateHours()"></app-charge-time-item>
  </div>
  <div class="row schenck-blue-font" style="border-top: 1px solid">
    <div class="col-md-3">
      Grand Total
    </div>
    <div class="col-md-2 text-right">
      {{previousTotalHours}}
    </div>
    <div class="col-md-1 text-right">
      {{previousTotalPercent | percent: '1.1-1'}}
    </div>
    <div class="col-md-2 text-right">
      {{previousTotalHours}}
    </div>
    <div class="col-md-1 text-right">
      {{previousTotalPercent | percent: '1.1-1'}}
    </div>
    <div class="col-md-2 text-right" style ="padding-right: 2.5rem">
      {{newTotalHours}}
    </div>
    <div class="col-md-1 text-right">
      {{newTotalPercent | percent: '1.1-1'}}
    </div>
  </div>
</div>
