<div class="row">
  <div class="col-md-12">
    Goal Name: <b>{{industryGoal.Name}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Date Created: <b>{{industryGoal.DisplayDateCreated}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Last Updated: <b>{{industryGoal.DisplayDateModified}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Goal Description:
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-2" style="font-weight:bold" [innerHTML]="industryGoal.GoalDescription"></div>
</div>
<div class="row">
  <div class="col-md-12">
    Industry Team:
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-2" style="font-weight:bold" [innerHTML]="industryGoal.IndustryTeam.TeamName"></div>
</div>
<div *ngIf="industryGoal.Actions">
  <div class="row">
    <div class="col-md-12">
    Actions:
    </div>
  </div>
  <div class="row" *ngFor="let action of industryGoal.Actions">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="action.Action">
    </div>
  </div>
</div>
<div *ngIf="industryGoal.Supports">
  <div class="row">
    <div class="col-md-12">
    Supports:
    </div>
  </div>
  <div class="row" *ngFor="let support of industryGoal.Supports">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="support.Support">
    </div>
  </div>
</div>
<div *ngIf="industryGoal.Measurements">
  <div class="row">
    <div class="col-md-12">
    Measurements:
    </div>
  </div>
  <div class="row" *ngFor="let measurement of industryGoal.Measurements">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="measurement.Measurement">
    </div>
  </div>
</div>
<div *ngIf="industryGoal.Notes">
  <div class="row">
    <div class="col-md-12">
    Notes:
    </div>
  </div>
  <div class="row" *ngFor="let note of industryGoal.Notes">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="note.Note">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Percent Complete: <b>{{industryGoal.GoalCompletionPercentage}}%</b>
  </div>
</div>
