<div class="row">
  <div class="col-md-2">
    Industry Team:
  </div>
  <div class="col-md-10" style="font-weight:bold" [innerHTML]="industryGoal.IndustryTeam.TeamName"></div>
</div>
<div class="row">
  <div class="col-md-2">
    Goal Name:
  </div>
  <div class="col-md-10">
    <b>{{industryGoal.Name}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Goal Description:
  </div>
  <div class="col-md-10" style="font-weight:bold" [innerHTML]="industryGoal.GoalDescription"></div>
</div>
<div *ngIf="industryGoal.Actions">
  <div class="row">
    <div class="col-md-2">
      Actions:
    </div>
  </div>
  <div class="row" *ngFor="let action of industryGoal.Actions">
    <div class="col-md-2">
      Due by:
    </div>
    <div class="col-md-1">
      <b>{{action.DisplayDateDue}}</b>
    </div>
    <div class="col-md-7">
      <p style="font-weight:bold">{{action.Action}}</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="industryGoal.Supports">
  <div class="col-md-2">
    Supports:
  </div>
  <div class="col-md-10">
    <p *ngFor="let support of industryGoal.Supports" style="font-weight:bold" [innerHTML]="support.Support">
    </p>
  </div>
</div>
<div class="row" *ngIf="industryGoal.Measurements">
  <div class="col-md-2">
    Measurements:
  </div>
  <div class="col-md-10">
    <p *ngFor="let measurement of industryGoal.Measurements" style="font-weight:bold" [innerHTML]="measurement.Measurement">
    </p>
  </div>
</div>
<div class="row" *ngIf="industryGoal.Notes.length > 0">
  <div class="col-md-2">
    Notes:
  </div>
  <div class="col-md-10">
    <p *ngFor="let note of industryGoal.Notes" style="font-weight:bold" [innerHTML]="note.Note">
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    % Complete:
  </div>
  <div class="col-md-2">
    <b>{{industryGoal.GoalCompletionPercentage}}%</b>
  </div>
</div>
<div class="row print-end-goal">
  <div class="col-md-2">
    Created:
  </div>
  <div class="col-md-2">
    <b>{{industryGoal.DisplayDateCreated}}</b>
  </div>
  <div class="col-md-2">
    Last Updated:
  </div>
  <div class="col-md-2">
    <b>{{industryGoal.DisplayDateModified}}</b>
  </div>
  <div class="col-md-2">
    Complete By:
  </div>
  <div class="col-md-2">
    <b>{{industryGoal.DisplayDateCompleted}}</b>
  </div>
</div>
