<div [formGroup]="actionItemForm">
  <div class="form-group row" style="margin-top: 0">
    <div class="col-md-1">
      <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" formControlName="IsCompleted" (change)="onValueChange()">
      <span class="custom-control-indicator"></span>
    </label>
    </div>
    <div class="col-md-6">
      <textarea class="form-control" formControlName="Action" (keyup)="onValueChange()" required placeholder="Enter a single action item."></textarea>
      <div *ngIf="actionItemForm.get('Action').hasError('required')" class="alert alert-danger">An action item is required</div>
    </div>
    <label class="col-md-2 col-form-label">Due By:</label>
    <div class="col-md-3">
      <my-date-picker name="DisplayDateDue" [options]="myDatePickerOptions" formControlName="DisplayDateDue" (dateChanged)="onValueChange()"></my-date-picker>
    </div>
  </div>
</div>
