<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title pull-left">Add Goal</h2>
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate [formGroup]="addPersonalGoalForm" (ngSubmit)="onSubmit(addPersonalGoalForm.value)">
        <div class="modal-body">
          <div class="form-group col-md-4">
            <label for="Name">Goal Name:</label>
            <input id="Name" type="text" class="form-control" formControlName="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="GoalDescription">Goal Description:</label>
            <textarea class="form-control" formControlName="GoalDescription"></textarea>
          </div>
          <div class="goal-subSection">
            <app-actions-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addPersonalGoalForm" [actions]="personalGoal.Actions">
            </app-actions-list>
          </div>
          <div class="goal-subSection">
            <app-measurements-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addPersonalGoalForm" [measurements]="personalGoal.Measurements"></app-measurements-list>
          </div>
          <div class="goal-subSection">
            <app-support-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addPersonalGoalForm" [supports]="personalGoal.Supports"></app-support-list>
          </div>
          <div class="goal-subSection">
            <app-notes-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addPersonalGoalForm" [notes]="personalGoal.Notes"></app-notes-list>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Cancel</button>
          <button class="btn btn-success" type="submit" [disabled]="!addPersonalGoalForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>