<div bsModal #addModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title pull-left">Add Goal</h2>
        <button type="button" class="close pull-right" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate [formGroup]="addpersonalGoalForm" (ngSubmit)="onSubmit(addpersonalGoalForm.value)">
        <div class="modal-body">
          <div class="form-group col-md-4">
            <label for="Name">Goal Name:</label>
            <input id="Name" type="text" class="form-control" formControlName="Name" placeholder="Type a name for your goal here.">
            <div *ngIf="addpersonalGoalForm.get('Name').hasError('required')" class="alert alert-danger">A name is required</div>
          </div>
          <div class="form-group col-md-6">
            <label for="GoalDescription">Goal Description:</label>
            <textarea class="form-control" formControlName="GoalDescription" placeholder="What skills, knowledge or behaviors do you want to improve over the enxt 6-12 months?"></textarea>
            <div *ngIf="addpersonalGoalForm.get('GoalDescription').hasError('required')" class="alert alert-danger">A goal description is required</div>
          </div>
          <div class="goal-subSection">
            <div class="form-group col-md-6">
            <label for="GoalCompetencyId">Competency for current goal:</label>
            <select class="form-control" name="GoalCompetencyId" formControlName="GoalCompetencyId">
              <option *ngFor="let competency of goalCompetencies;" [value]="competency.GoalCompetencyId">{{competency.Competency}}</option>
            </select>
            <div *ngIf="addpersonalGoalForm.get('GoalCompetencyId').hasError('required')" class="alert alert-danger">A Competency is required</div>
          </div>
          <div class="form-group col-md-6">
            <label for="GoalCompetencyTypeId">Competency type for current goal:</label>
            <select class="form-control" name="GoalCompetencyId" formControlName="GoalCompetencyTypeId">
              <option *ngFor="let type of goalCompetencyTypes;" [value]="type.GoalCompetencyTypeId">{{type.CompetencyType}}</option>
            </select>
            <div *ngIf="addpersonalGoalForm.get('GoalCompetencyTypeId').hasError('required')" class="alert alert-danger">A competency type is required</div>
          </div>
          </div>
          <div class="goal-subSection">
            <app-actions-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addpersonalGoalForm" [Actions]="personalGoal.Actions">
            </app-actions-list>
          </div>
          <div class="goal-subSection">
            <app-measurements-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addpersonalGoalForm" [Measurements]="personalGoal.Measurements"></app-measurements-list>
          </div>
          <div class="goal-subSection">
            <app-support-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addpersonalGoalForm" [Supports]="personalGoal.Supports"></app-support-list>
          </div>
          <div class="goal-subSection">
            <app-notes-list [goalId]="personalGoal.GoalId" [parentGoalForm]="addpersonalGoalForm" [Notes]="personalGoal.Notes"></app-notes-list>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
          <button class="btn btn-success" type="submit" [disabled]="!addpersonalGoalForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>