            <div class="row">
              <div class="col-md-7">Tiers 1-3:</div>
              <div class="col-md-5">
                {{detail.BillingsTiers1_3}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Tiers 4-5</div>
              <div class="col-md-5">
                {{detail.BillingsTiers4_5}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Tier 6</div>
              <div class="col-md-5">
                {{detail.BillingsTier6}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Tier 6GR</div>
              <div class="col-md-5">
                {{detail.BillingsTier6GR}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Tier 6PBR</div>
              <div class="col-md-5">
                {{detail.BillingsTier6PBR}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">New Business From New Clients</div>
              <div class="col-md-5">
                {{detail.BusinessNewClients}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">New Business From Existing Clients</div>
              <div class="col-md-5">
                {{detail.BusinessExistingClients}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Lost Clients</div>
              <div class="col-md-5">
                {{detail.LostClients}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Billings Transferred From Others</div>
              <div class="col-md-5">
                {{detail.BillingsTransferredFromOthers}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Billings Transferred To Others</div>
              <div class="col-md-5">
                {{detail.BillingsTransferredToOthers}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Referrals To Specialty Units</div>
              <div class="col-md-5">
                {{detail.ReferralsSpecialityUnits}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Charge Hours</div>
              <div class="col-md-5">
                {{detail.ChargeHours}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Realization</div>
              <div class="col-md-5">
                {{detail.sRealization}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">Days in WIP and AR</div>
              <div class="col-md-5">
                {{detail.sDaysinWIP_AR}}
              </div>
            </div>
