<div class="row">
  <div class="col-md-5">
    <h1>Personal Development Goals</h1>
  </div>
</div>
<div class="row" *ngIf="isLoading">
  <div class="col-md-2 offset-md-5"><i fa class="fa fa-spinner fa-5x fa-spin" aria-hidden="true"></i>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Goal list: (Click goal name to edit)</p>
  </div>
  <div class="col-md-8 text-right">
    <a>Add Goal</a>
  </div>
</div>
<div class="row" *ngFor="let personalGoal of personalGoalList">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-primary">
        <h2 style="color: white;">{{personalGoal.Name}}</h2>
        <div class="progress" style="width: 100%;" *ngIf="personalGoal.GoalCompletionPercentage < 100">
          <div class="progress-bar progress-bar-striped bg-schenck progress-bar-animated" [style.width.%]="personalGoal.GoalCompletionPercentage"><span class="schenck-orange">{{personalGoal.GoalCompletionPercentage}}%</span></div>
        </div>
      </div>
      <div class="card-block">
        <h2 class="card-title">Goal Details: </h2>
        <div class="card-text" [innerHTML]="personalGoal.GoalDescription">
        </div>
      </div>
      <div class="card-footer">
        <ul class="list-unstyled">
          <li>Goal created: {{personalGoal.DisplayDateCreated}}</li>
          <li>Goal last updated: {{personalGoal.DisplayDateModified}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>