            <div class="row">
              <div class="col-md-12">
                {{detail.BillingsTiers1_3}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BillingsTiers4_5}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BillingsTier6}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BillingsTier6GR}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BillingsTier6PBR}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BusinessNewClients}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BusinessExistingClients}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.LostClients}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BillingsTransferredFromOthers}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.BillingsTransferredToOthers}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.ReferralsSpecialityUnits}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.ChargeHours}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.sRealization}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{detail.sDaysinWIP_AR}}
              </div>
            </div>
