<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title pull-left">Add Goal</h2>
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate [formGroup]="addCompetencyGoalForm" (ngSubmit)="onSubmit(addCompetencyGoalForm.value)">
        <div class="modal-body">
          <div class="form-group col-md-4">
            <label for="Name">Goal Name:</label>
            <input id="Name" type="text" class="form-control" formControlName="Name">
            <div *ngIf="addCompetencyGoalForm.get('Name').hasError('required')" class="alert alert-danger">A name is required</div>
          </div>
          <div class="form-group col-md-6">
            <label for="GoalDescription">Goal Description:</label>
            <textarea class="form-control" formControlName="GoalDescription"></textarea>
            <div *ngIf="addCompetencyGoalForm.get('GoalDescription').hasError('required')" class="alert alert-danger">A goal description is required</div>
          </div>
          <div class="form-group col-md-2">
            <label for="Weight">Weight %:</label>
            <select class="form-control" name="Weight" formControlName="Weight">
              <option *ngFor="let weight of weightList;" [value]="weight">{{weight}}</option>
            </select>
          </div>
          <div class="goal-subSection">
            <div class="form-group col-md-6">
            <label for="GoalCompetencyId">Competency for current goal:</label>
            <select class="form-control" name="GoalCompetencyId" formControlName="GoalCompetencyId">
              <option *ngFor="let competency of goalCompetencies;" [value]="competency.GoalCompetencyId">{{competency.Competency}}</option>
            </select>
            <div *ngIf="addCompetencyGoalForm.get('GoalCompetencyId').hasError('required')" class="alert alert-danger">A Competency is required</div>
          </div>
          <div class="form-group col-md-6">
            <label for="GoalCompetencyTypeId">Competency tye for current goal:</label>
            <select class="form-control" name="GoalCompetencyId" formControlName="GoalCompetencyTypeId">
              <option *ngFor="let type of goalCompetencyTypes;" [value]="type.GoalCompetencyTypeId">{{type.CompetencyType}}</option>
            </select>
            <div *ngIf="addCompetencyGoalForm.get('GoalCompetencyTypeId').hasError('required')" class="alert alert-danger">A competency type is required</div>
          </div>
          </div>
          <div class="goal-subSection">
            <app-actions-list [goalId]="competencyGoal.GoalId" [parentGoalForm]="addCompetencyGoalForm" [Actions]="competencyGoal.Actions">
            </app-actions-list>
          </div>
          <div class="goal-subSection">
            <app-measurements-list [goalId]="competencyGoal.GoalId" [parentGoalForm]="addCompetencyGoalForm" [Measurements]="competencyGoal.Measurements"></app-measurements-list>
          </div>
          <div class="goal-subSection">
            <app-support-list [goalId]="competencyGoal.GoalId" [parentGoalForm]="addCompetencyGoalForm" [Supports]="competencyGoal.Supports"></app-support-list>
          </div>
          <div class="goal-subSection">
            <app-notes-list [goalId]="competencyGoal.GoalId" [parentGoalForm]="addCompetencyGoalForm" [Notes]="competencyGoal.Notes"></app-notes-list>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Cancel</button>
          <button class="btn btn-success" type="submit" [disabled]="!addCompetencyGoalForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>