<span (click)="isCollapsed = !isCollapsed" class="clickable">
  <b>{{serviceLine.ServiceLine}} <i class="fa fa-caret-down"></i></b>
</span>
<div class="form-check" *ngFor="let subGroup of subgroupsList" [collapse]="isCollapsed">
  <label class="form-check-label" *ngIf="subGroup.ServiceLineId === serviceLine.ServiceLineId">
    <input class="form-check-input" name="subgroupsList" type="checkbox" [value]="subGroup.ServiceLineGroupId" [(ngModel)]="subGroup.IsSelected"> {{subGroup.SubGroup}}
  </label>
</div>
