<div class="row">
  <div class="col-md-2">
    WIG Title:
  </div>
  <div class="col-md-10" style="font-weight:bold">{{wigTitle}}</div>
</div>
<div class="row">
  <div class="col-md-2">
    Goal Name:
  </div>
  <div class="col-md-10">
    <b>{{wigGoal.Name}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Goal Description:
  </div>
  <div class="col-md-10" style="font-weight:bold" [innerHTML]="wigGoal.GoalDescription"></div>
</div>
<div *ngIf="wigGoal.Actions">
    <div class="row">
      <div class="col-md-2">
        Actions:
      </div>
    </div>
    <div class="row" *ngFor="let action of wigGoal.Actions">
      <div class="col-md-1">
        Due by:
      </div>
      <div class="col-md-1">
        {{action.DisplayDateDue}}
      </div>
      <div class="col-md-8">
        <p style="font-weight:bold">{{action.Action}}</p>
      </div>
    </div>
  </div>
<div class="row" *ngIf="wigGoal.Supports">
  <div class="col-md-2">
    Supports:
  </div>
  <div class="col-md-10">
    <p *ngFor="let support of wigGoal.Supports" style="font-weight:bold" [innerHTML]="support.Support">
    </p>
  </div>
</div>
<div class="row" *ngIf="wigGoal.Measurements">
  <div class="col-md-2">
    Measurements:
  </div>
  <div class="col-md-10">
    <p *ngFor="let measurement of wigGoal.Measurements" style="font-weight:bold" [innerHTML]="measurement.Measurement">
    </p>
  </div>
</div>
<div class="row" *ngIf="wigGoal.Notes.length > 0">
  <div class="col-md-2">
    Notes:
  </div>
  <div class="col-md-10">
    <p *ngFor="let note of wigGoal.Notes" style="font-weight:bold" [innerHTML]="note.Note">
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Weight:
  </div>
  <div class="col-md-2">
    <b>{{wigGoal.Weight}}</b>
  </div>
  <div class="col-md-2">
    % Complete:
  </div>
  <div class="col-md-2">
    <b>{{wigGoal.GoalCompletionPercentage}}%</b>
  </div>
</div>
<div class="row print-end-goal">
  <div class="col-md-2">
    Date Created:
  </div>
  <div class="col-md-2">
    <b>{{wigGoal.DisplayDateCreated}}</b>
  </div>
  <div class="col-md-2">
    Last Updated:
  </div>
  <div class="col-md-2">
    <b>{{wigGoal.DisplayDateModified}}</b>
  </div>
  <div class="col-md-2">
    Complete By:
  </div>
  <div class="col-md-2">
    <b>{{wigGoal.DisplayDateCompleted}}</b>
  </div>
</div>
