<div class="row">
  <div class="col-md-12">
    Goal Name: <b>{{wigGoal.Name}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Date Created: <b>{{wigGoal.DisplayDateCreated}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Last Updated: <b>{{wigGoal.DisplayDateModified}}</b>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Goal Description:
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-2" style="font-weight:bold" [innerHTML]="wigGoal.GoalDescription"></div>
</div>
<div class="row">
  <div class="col-md-12">
  Weight: {{wigGoal.Weight}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  WIG Title:
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-2" style="font-weight:bold">{{wigTitle}}</div>
</div>
<div class="row">
  <div class="col-md-12">
  WIG Description:
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-2" style="font-weight:bold"></div>
</div>
<div *ngIf="wigGoal.Actions">
  <div class="row">
    <div class="col-md-12">
    Actions:
    </div>
  </div>
  <div class="row" *ngFor="let action of wigGoal.Actions">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="action.Action">
    </div>
  </div>
</div>
<div *ngIf="wigGoal.Supports">
  <div class="row">
    <div class="col-md-12">
    Supports:
    </div>
  </div>
  <div class="row" *ngFor="let support of wigGoal.Supports">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="support.Support">
    </div>
  </div>
</div>
<div *ngIf="wigGoal.Measurements">
  <div class="row">
    <div class="col-md-12">
    Measurements:
    </div>
  </div>
  <div class="row" *ngFor="let measurement of wigGoal.Measurements">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="measurement.Measurement">
    </div>
  </div>
</div>
<div *ngIf="wigGoal.Notes">
  <div class="row">
    <div class="col-md-12">
    Notes:
    </div>
  </div>
  <div class="row" *ngFor="let note of wigGoal.Notes">
    <div class="col-md-12 offset-md-2" style="font-weight:bold" [innerHTML]="note.Note">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Percent Complete: <b>{{wigGoal.GoalCompletionPercentage}}%</b>
  </div>
</div>
