<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Add Goal</h2>
        <span>Make sure your goals are SMART goals: Specific, Measurable, Attainable, Results-Oriented, Time-Bound.</span>
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate [formGroup]="addIndustryGoalForm" (ngSubmit)="onSubmit(addIndustryGoalForm.value)">
        <div class="modal-body">
          <div class="form-group col-md-4">
            <label for="Name">Goal Name:</label>
            <input id="Name" type="text" class="form-control" formControlName="Name">
            <div *ngIf="addIndustryGoalForm.get('Name').hasError('required') && addIndustryGoalForm.get('Name').touched" class="alert alert-danger">A name is required</div>
          </div>
          <div class="form-group col-md-6">
            <label for="GoalDescription">Goal Description:</label>
            <textarea class="form-control" formControlName="GoalDescription"></textarea>
            <div *ngIf="addIndustryGoalForm.get('GoalDescription').hasError('required') && addIndustryGoalForm.get('GoalDescription').touched" class="alert alert-danger">A goal is required</div>
          </div>
          <div class="goal-subSection">
            <app-actions-list [goalId]="industryGoal.GoalId" [parentGoalForm]="addIndustryGoalForm" [Actions]="industryGoal.Actions">
            </app-actions-list>
          </div>
          <div class="goal-subSection">
            <app-measurements-list [goalId]="industryGoal.GoalId" [parentGoalForm]="addIndustryGoalForm" [Measurements]="industryGoal.Measurements"></app-measurements-list>
          </div>
          <div class="goal-subSection">
            <app-support-list [goalId]="industryGoal.GoalId" [parentGoalForm]="addIndustryGoalForm" [Supports]="industryGoal.Supports"></app-support-list>
          </div>
          <div class="goal-subSection">
            <app-notes-list [goalId]="industryGoal.GoalId" [parentGoalForm]="addIndustryGoalForm" [Notes]="industryGoal.Notes"></app-notes-list>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Cancel</button>
          <button class="btn btn-success" type="submit" [disabled]="!addIndustryGoalForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>