$schenck-blue: #007EBA;
$schenck-cyan: #00AFED;
$schenck-green: #5FBB46;
$schenck-lime: #CBDB2A;
$schenck-orange: #F7941E;
$schenck-yellow: #FFC60B;
$schenck-purple: #7F3F98;
$schenck-magenta: #ED0D6C;

$main-font: 'Ubuntu', sans-serif;
$header-font: 'Ruda', sans-serif;
$primary-font-color: #58595B;