/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    font: 100% $main-font;
    color: $primary-font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: normal;
}

nav {
    a {
        color: $schenck-blue;
    }

    .nav-link:hover {
        background-color: $schenck-cyan;
        color: white;
    }

    .dropdown-item:hover {
        background-color: $schenck-cyan;
        color: white;
    }
}

.goal-subSection {
    margin-top: 28px;
    padding-top: 10px;
    border-top: 1px solid $schenck-orange;
}