<div class="row">
    <div class="col-md-12">
        <h2>{{title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 offset-md-4">
        <b>Previous Year</b>
    </div>
    <div class="col-md-3">
        <b>This Year</b>
    </div>
</div>
<div class="details">
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Tiers 1-3</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BillingsTiers1_3">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Tiers 4-5</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BillingsTiers4_5">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Tier 6</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BillingsTier6">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Tier 6GR</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BillingsTier6GR">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Tier 6PBR</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BillingsTier6PBR">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">New Business From New Clients</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BusinessNewClients">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">New Business From Existing Clients</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BusinessExistingClients">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Lost Clients</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.LostClients">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Billings Transferred From Others</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BillingsTransferredFromOthers">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Billings Transferred To Others</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.BillingsTransferredToOthers">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Referrals To Specialty Units</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.ReferralsSpecialityUnits">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Charge Hours</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.ChargeHours">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Realization</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.sRealization">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-7 col-form-label">Days in WIP and AR</label>
        <div class="col-md-3">
            <input class="form-control" type="number" [(ngModel)]="currentDetail.sDaysinWIP_AR">
        </div>
    </div>
    
</div>