<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-primary">
        <h2 class="card-goal-name" style="color: white;" (click)="onEdit(goal)">{{goal.Name}}</h2>
        <div class="progress" style="width: 100%;" *ngIf="goal.GoalCompletionPercentage < 100">
          <div class="progress-bar progress-bar-striped bg-schenck progress-bar-animated" [style.width.%]="goal.GoalCompletionPercentage"><span class="schenck-orange">{{goal.GoalCompletionPercentage}}%</span></div>
        </div>
      </div>
      <div class="card-block">
        <h2 (click)="isCollapsed = !isCollapsed" class="card-title">Goal Details: </h2>
        <div [collapse]="isCollapsed">
        <p class="card-text" [innerHTML]="goal.GoalDescription">
        </p>
        <ul class="list-unstyled">
          <li><b>Goal created: {{goal.DisplayDateCreated}}</b></li>
          <li><b>Goal last updated: {{goal.DisplayDateModified}}</b></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>