<div class="row">
  <div class="col-md-3">
    {{itemName}}
  </div>
  <div class="col-md-2 text-right">
    {{data?.CurrentYearHours}}
  </div>
  <div class="col-md-1 text-right">
    {{currentPercentage | percent: '1.1-1'}}
  </div>
  <div class="col-md-2 text-right">
    {{data?.PriorYearHours}}
  </div>
  <div class="col-md-1 text-right">
    {{previousPercentage | percent: '1.1-1'}}
  </div>
  <div class="col-md-2 text-right">
    {{data?.EstimatedHours}}
  </div>
  <div class="col-md-1 text-right">
    {{newPercentage | percent: '1.1-1'}}
  </div>
</div>
