<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-primary">Personal</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-secondary">Practice Unit</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-secondary">Industry Team</button>
  </div>
</div>
<form novalidate #economicGoalsForm (ngSubmit)="onSubmit()">
<app-detail *ngIf="" [title]="'Personal Goals'"></app-detail>
<!-- <app-detail [title]="'Practice Unit'"></app-detail>
<app-detail [title]="'Industry Team'"></app-detail> -->
<div class="form-group row">
  <button type="button" class="btn btn-secondary">Cancel</button>
  <button type="submt" class="btn btn-success">Save</button>
</div>
</form>